*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# End of https://mrkandreev.name/snippets/gitignore-generator/#Scala
/target/
/project/
/.idea/
/.bsp/
